## Lists
* Used when sequential order of elements is preferred
* List data structure in Python preserves order

In [1]:
# Illustration of a list
# One may create list without using the keyword "list"
# Here, creating a list by name python_list
python_list = [2021, 'BITS', ['Pilani', 'Goa', 'Hyderabad', 'Dubai'], [1, 10, 99]]

In [2]:
# Check the contents of the created list python_list
python_list

[2021, 'BITS', ['Pilani', 'Goa', 'Hyderabad', 'Dubai'], [1, 10, 99]]

In [32]:
# Verify the data structure type of the python_list
type(python_list)

list

In [33]:
# use len() function to verify the size of the list
len(python_list)

4

### Subsetting the list

In [34]:
# Access the first element of list using index-0
python_list[0]

2021

In [35]:
# Access the third element of list using index-2
python_list[2]

['Pilani', 'Goa', 'Hyderabad', 'Dubai']

In [3]:
# The third element of list is a vector
# Access the first value in third element of list using index-2 and index-0
print(python_list)
print(python_list[2][0])

[2021, 'BITS', ['Pilani', 'Goa', 'Hyderabad', 'Dubai'], [1, 10, 99]]
Pilani

In [37]:
# Python lists are mutable
# The first element a.k.ak zeroth-index of python_list is 2021
# The first element is changed to value as shown below
python_list[0] = '25-10-2021'

In [38]:
# Verify the changes below
python_list

['25-10-2021', 'BITS', ['Pilani', 'Goa', 'Hyderabad', 'Dubai'], [1, 10, 99]]

In [39]:
# access first two elements in list as shown below
python_list[:2]

['25-10-2021', 'BITS']

In [40]:
# Get the second and third values in a list
python_list[1:3]

['BITS', ['Pilani', 'Goa', 'Hyderabad', 'Dubai']]

In [4]:
# Replace the second and third values in a list
python_list[1:3] = ['BITS States', ['Rajasthan', 'Goa', 'Telangana', 'UAE'], 9]

# Verify if the above changes are made
python_list

[2021, 'BITS States', ['Rajasthan', 'Goa', 'Telangana', 'UAE'], 9, [1, 10, 99]]

In [ ]:
python_list.

### Expanding the list i.e., adding one mor element to the list
* Add an element at the end using + operator
* Add an element at the end using append() function
* Add an element any where, say nth position using insert(n, 'inserted element at n') function

In [42]:
# Following throws an error
python_list[5] = ['ELement 5']

IndexError: list assignment index out of range

In [ ]:
# In order to add one more element to list, use "+" operator
python_list = python_list + ['Element 5']

 #Verify if the above changes are made
python_list

[2021,
 'BITS States',
 ['Rajasthan', 'Goa', 'Telangana', 'UAE'],
 [1, 10, 99],
 'Element 5']

In [ ]:
# Another method to add one more element to list: use append() function
python_list.append('Element 6')

 #Verify if the above changes are made
python_list

[2021,
 'BITS States',
 ['Rajasthan', 'Goa', 'Telangana', 'UAE'],
 [1, 10, 99],
 'Element 5',
 'Element 6']

In [ ]:
# In case, a new element is to be added at the beginning: use insert(0, 'Element') function
python_list.insert(0,'Inserted Element')

#Verify if the above changes are made
python_list

['Inserted Element',
 2021,
 'BITS States',
 ['Rajasthan', 'Goa', 'Telangana', 'UAE'],
 [1, 10, 99],
 'Element 5',
 'Element 6']

In [ ]:
# In case, a new element is to be added at the 4th position: use insert(4, 'Element 4') function
python_list.insert(3,'Inserted Element 4')

#Verify if the above changes are made
python_list

['Inserted Element',
 2021,
 'BITS States',
 'Inserted Element 4',
 ['Rajasthan', 'Goa', 'Telangana', 'UAE'],
 [1, 10, 99],
 'Element 5',
 'Element 6']

### Remove the element from a list
* use remove() function to remove a particular element
* use del key word to delete particular element or elements from a list
* use pop() function to remove particula element from a list

In [ ]:
# delete the first element using del
del python_list[0]

#Verify if the above changes are made
python_list

[2021,
 'BITS States',
 'Inserted Element 4',
 ['Rajasthan', 'Goa', 'Telangana', 'UAE'],
 [1, 10, 99],
 'Element 5',
 'Element 6']

In [ ]:
# remove the  element using remove() function, and specify the value to be removed
# Following removes 'Inserted Element 4' positioned at index-2
python_list.remove('Inserted Element 4')

#Verify if the above changes are made
python_list

[2021,
 'BITS States',
 ['Rajasthan', 'Goa', 'Telangana', 'UAE'],
 [1, 10, 99],
 'Element 5',
 'Element 6']

In [ ]:
# In case more than one element to be removed positioned between n and m indexes, use del list_name(n-1,m)
# Delete values positioned at between 5 and 6, including 5 and 6
del python_list[4:6]

#Verify if the above changes are made
python_list

[2021, 'BITS States', ['Rajasthan', 'Goa', 'Telangana', 'UAE'], [1, 10, 99]]

In [56]:
# Use pop() function to delete an element from the list
# delete the 2nd element from the list as illustrated below
python_list.pop(1)

'BITS States'

In [57]:
#Verify if the 2nd element is removed through pop() function
python_list

['25-10-2021', ['Rajasthan', 'Goa', 'Telangana', 'UAE'], [1, 10, 99]]

## Sort elements in a list
* use function sorted()
* use function sort()
* Both use Timsort algorithm
* Read more on Timsort algorithm here: https://en.wikipedia.org/wiki/Timsort
* Both the sorting functions cannot sort a mix of data types such as numeric and strings data types

In [43]:
# Sort using sorted() function on list with mixed data types
# Expect that it throws an error
sorted(python_list)

TypeError: '<' not supported between instances of 'list' and 'str'

In [44]:
# Sort using sort() function on list with mixed data types
# Expect that it throws an error
python_list.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [52]:
# Create a new list (numeric_list_1 & numeric_list_2 are same)
numeric_list_1 = [99, 87, 104, 22, 76, 54, 93]
numeric_list_2 = [99, 87, 104, 22, 76, 54, 93]

In [53]:
# Sort using sorted() function on list with numeric data types
sorted(numeric_list_1)

[22, 54, 76, 87, 93, 99, 104]

In [55]:
# Sort using sort() function on list with numeric data types
numeric_list_2.sort()

# Verify if the list is sorted
numeric_list_2

[22, 54, 76, 87, 93, 99, 104]