## Numeric Data Types
* Integers
* Real numbers

In [ ]:
#Converts a real number (float) to an integer
print(int(66.6666666666))

#Converts an integer to a real number (float)
print(float(67))

# Check the data type using "type" function
## Results in integer data type
print(type(66))

## Results in a real number (float) data type
print(type(float(67)))

### Numbers and Arithmetic
  * "+" for addition
  * "-" for substraction
  * "*" multiplication
  * "/" division
  * "**" or pow() for exponentiation
  * "%" modulus to extract remainder
  * "//" floor division to extract quotient

In [ ]:
# addition using "+"
3+7

In [ ]:
# subtraction using "-"
9-7

In [ ]:
# multiplication using "*"
7*8

In [ ]:
# division using "/"
18/3

In [ ]:
# integer division through double slash
# results in quotient
9//2

In [ ]:
# modulus results in remainder
9%2
13%7

#### Using multiple arithmetic operators
$FV= (PV*(1+r/n)^{nt})$ <br>
where: <br>
* PV = present value of money (say 1000 rupees)
* FV = future value of money (to be calculated)
* r = interest rate (say 6.25%)
* n = number of compounding periods (semi-anually)
* t = number of years (5 years)

In [ ]:
# Calculation of future value using ** for exponentiation
1000*(1+0.0625/2)**(2*5)

In [ ]:
# Calculation of future value using pow() for exponentiation
1000*pow((1+0.0625/2), 2*5)